export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_HOST='127.0.0.1'
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_PORT=8000
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_WORKERS_COUNT=1
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_RELOAD=True
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_ENVIRONMENT='dev'
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_LOG_LEVEL=20
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_DB_HOST='localhost'
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_DB_PORT=5432
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_DB_USER='fastapi_pytorch_postgresql_sandbox'
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_DB_PASS='fastapi_pytorch_postgresql_sandbox'
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_DB_BASE='fastapi_pytorch_postgresql_sandbox'
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_DB_ECHO=False
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_REDIS_HOST='fastapi_pytorch_postgresql_sandbox-redis'
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_REDIS_PORT=6379
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_REDIS_USER=None
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_REDIS_PASS=None
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_REDIS_BASE=None
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_RABBIT_HOST='fastapi_pytorch_postgresql_sandbox-rmq'
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_RABBIT_PORT=5672
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_RABBIT_USER='guest'
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_RABBIT_PASS='guest'
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_RABBIT_VHOST='/'
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_RABBIT_POOL_SIZE=2
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_RABBIT_CHANNEL_POOL_SIZE=10
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_PROMETHEUS_DIR='./prom'
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_OPENTELEMETRY_ENDPOINT=None
export FASTAPI_PYTORCH_POSTGRESQL_SANDBOX_KAFKA_BOOTSTRAP_SERVERS='fastapi_pytorch_postgresql_sandbox-kafka:9092'
